# SPDX-License-Identifier: MIT

newlines = lf
input_tab_size = 4
output_tab_size = 4
indent_columns = 4
indent_with_tabs = 0
indent_class = true
indent_access_spec = -4
indent_continue = 4
indent_align_string = true

sp_arith = force
sp_assign = force
sp_bool = force
sp_compare = force
sp_after_comma = force
sp_inside_paren = remove
sp_before_sparen = force

nl_end_of_file = force
code_width = 100
